#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    background-color: blanchedalmond;
    height: 100px;
}

button {
    height: 30px;
    width: 50px;
    margin-left: 2px;
    margin-right: 2px;
}

/* button:first-child {
    font-weight: bold;
    align-self: flex-end;
} */