<html>
    <head>
        <title>Flexbox 0</title>
        <link rel="stylesheet" href="flexbox0.css" />
    </head>
    <body>
        <header>
            <h1>Sample Flexbox Example</h1>
        </header>
        <section>
            <article>
                <h2>Lorem</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere eligendi deserunt totam debitis quisquam pariatur distinctio necessitatibus. Laboriosam, quae tempore minus cum accusantium officiis voluptatibus placeat illum dolores quam.
                </p>
            </article>
            <article>
                <h2>Lorem</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere eligendi deserunt totam debitis quisquam pariatur distinctio necessitatibus. Laboriosam, quae tempore minus cum accusantium officiis voluptatibus placeat illum dolores quam.
                </p>
            </article>
            <article>
                <h2>Lorem</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint facere eligendi deserunt totam debitis quisquam pariatur distinctio necessitatibus. Laboriosam, quae tempore minus cum accusantium officiis voluptatibus placeat illum dolores quam.
                </p>
            </article>
        </section>
    </body>
</html>